/* ClientPost.css */

@media only screen and (max-width: 1287px) {
    form label {
      display: block;
      margin-bottom: 8px;
    }
  }
  


  .post-data {
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box; 




    background-color: lightgray;
    text-align: center;


  
  }

  .post-data label{
    margin-left: 2%;
  }

  .post-button {
    padding: 5px 10px;
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #4049ce;
    background-color: #4049ce;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-left: 1%;
    margin-top: 1%;
  }
  
  .post-button:hover {
    background-color: #fff;
    color: #4049ce;
    border-color: #4049ce;
  }
  
