#root {
  margin: -1%, 15%, 85%, 0%, 75;
  text-align: center;
  /* color: white; */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  /* background-color: #4CAF50; */
  color: white;
}

table, th, td {
  border: 1px solid black;
}
